<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <style>
        #lgout {
            position: absolute;
            top: 15px;
            right: 200px;
        }

            #lgout:hover {
                color: red;
            }

        #userEmail {
            position: absolute;
            top: 15px;
            right: 350px;
            color: white;
        }

        #spanId {
            font-size: 16px;
            color: #feffb3;
        }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("IMENIK", "Pocetna", "Kontakti", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            @if (Session["UlogovanKorisnik"] != null)
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Najcesce pretrazivani", "NajcescePretrazivani", "Kontakti")</li>
                    </ul>
                </div>
            }

            @if (Session["UlogovanKorisnik"] != null)
            {
                <p id="userEmail">Ulogovan kao:  <span id="spanId">@Session["UlogovanKorisnik"]</span></p>
                <a id="lgout" href="~/Korisnik/LogOut">LOGOUT</a>
            }

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
